<div class="mDiv">
        <div class="hedAPt">
            <p class="alPtTxt">
                <b>All Pets</b>
            </p>
            <div class="lftFunFS">
                <select class="fltrPts bacSmAll">
                    <option selected disabled>Filter</option>
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Mouse">Mouse</option>
                    <option value="Bat">Bat</option>

                </select>
                <input type="search" class="srchPt bacSmAll" placeholder="Search Pets">
            </div>
        </div>

        <p class="hedSubDv"><b>Recent Pet</b></p>

        <div class="allPetsLst">
            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image3.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image4.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image5.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image6.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            
           
        </div>

        <p class="hedSubDv"><b>All Pets</b></p>


        <div class="allPetsLst">
            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image1.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image2.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image3.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Hnry</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image4.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Bessie</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            
           
        </div>
        
        <div class="allPetsLst">
            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image5.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image6.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Bessie</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image7.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            <div class="itmPtOn"routerLink="/view">
                <img src="/assets/image8.jpg" alt="">
                <div class="ptInf">
                    <p class="ptNma"><b>Doggo</b></p>
                    <p class="gendAg">
                        male, 2.2 years
                    </p>
                    <p class="ptOwnN">
                        Jhon Deo
                    </p>
                </div>
            </div>

            
           
        </div>
    </div>