<div class="wrapper">
    <div class="sidenavbar">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFIPEK6voBr16UymeaNaInsE_4kHV9_MF3qzbLXp2jwQ&s"alt="" />
  
      <a routerLink="summary" class="dash"><span><i class="fa-sharp fa-solid fa-chart-simple"></i></span>&nbsp;Dashboard</a>
      <a routerLink="viewallpet"><i class="fa-solid fa-paw"></i>&nbsp; Pets</a>
      <a routerLink="viewprofile"><i class="fa-solid fa-user"></i>&nbsp; Profile</a>
    </div>
    <div class="content">
      <div class="icon">
        <div class="login">
          <p class="Name"><b>Jack Hall</b></p>
          <p class="logout">Logout</p>
        </div>
        <img src="assets/doctor.jpg" alt="" />
      </div>
    </div>
</div>
<router-outlet></router-outlet>
