
<link rel="stylesheet" href="viewall-appointment.component.css">
<div class="rNewAppBtn ">
    <p class="txtAppoin"><b>All Appointment</b></p>
    
    <div class="funAllAp" >
      <input type="date" class="bgBoxCom bgOptSel" placeholder="Select Date">
      
     <select class="bgBoxCom bgOptSel">
      <option  value="Status" selected disabled >Status</option>
      <option value="Active">Active</option>
      <option value="In-Active">Inactive</option>
     </select>

     <button class="newApp" >New Appointment</button>

    </div>
  </div>

  <div class="allAppItms" style="margin-left: 200px;">
    <div class="box">
        <div class="bxTp">
            <img src="/assets/image1.jpg" class="imgApp" alt="">
            <div class="appDet">
                <p class="Name"><b>Doggo</b></p>
                <p class="desApp">Male, 2.2 years</p>
                <p class="desApp">owner : Jhon Doe</p>

            </div>
        </div>
        <div class="timFun">
            <div>
                <p class="timeApp"><b>09:20</b></p>
                <p class="dateApp"><b>12/6/2020</b></p>
            </div>
            <img src="assets/mess.png" class="funcMCV" alt="">
            <img src="assets/call.png" class="funcMCV" alt="">
            <img src="assets/videoCall.png" class="funcMCV" alt="">
        </div>
        <hr>
        <div class="detFee">
            <button>Details</button>
            <button> Feedback</button>
        </div>
    </div>
  
    <div class="box">
        <div class="bxTp">
            <img src="/assets/image2.jpg" class="imgApp" alt="">
            <div class="appDet">
                <p class="Name"><b>Doggo</b></p>
                <p class="desApp">Male, 2.2 years</p>
                <p class="desApp">owner : Jhon Doe</p>

            </div>
        </div>
        <div class="timFun">
            <div>
                <p class="timeApp"><b>11:30</b></p>
                <p class="dateApp"><b>12/6/2020</b></p>
            </div>
            <img src="assets/mess.png" class="funcMCV" alt="">
            <img src="assets/call.png" class="funcMCV" alt="">
            <img src="assets/videoCall.png" class="funcMCV" alt="">
        </div>
        <hr>
        <div class="detFee">
            <button>Details</button>
            <button> Feedback</button>
        </div>
    </div>
  

    <div class="box">
        <div class="bxTp">
            <img src="/assets/image3.jpg" class="imgApp" alt="">
            <div class="appDet">
                <p class="Name"><b>Hnry</b></p>
                <p class="desApp">Male, 2.2 years</p>
                <p class="desApp">owner : Jhon Doe</p>

            </div>
        </div>
        <div class="timFun">
            <div>
                <p class="timeApp"><b>12:30</b></p>
                <p class="dateApp"><b>12/6/2020</b></p>
            </div>
            <img src="assets/mess.png" class="funcMCV" alt="">
            <img src="assets/call.png" class="funcMCV" alt="">
            <img src="assets/videoCall.png" class="funcMCV" alt="">
        </div>
        <hr>
        <div class="detFee">
            <button>Details</button>
            <button> Feedback</button>
        </div>
    </div>
  
    <div class="box">
        <div class="bxTp">
            <img src="/assets/image4.jpg" class="imgApp" alt="">
            <div class="appDet">
                <p class="Name"><b>Bessie</b></p>
                <p class="desApp">Male, 2.2 years</p>
                <p class="desApp">owner : Jhon Doe</p>

            </div>
        </div>
        <div class="timFun">
            <div>
                <p class="timeApp"><b>10:30</b></p>
                <p class="dateApp"><b>12/6/2020</b></p>
            </div>
            <img src="assets/mess.png" class="funcMCV" alt="">
            <img src="assets/call.png" class="funcMCV" alt="">
            <img src="assets/videoCall.png" class="funcMCV" alt="">
        </div>
        <hr>
        <div class="detFee">
            <button>Details</button>
            <button> Feedback</button>
        </div>
    </div>
  

</div>
<div class="allAppItms" style="margin-left: 200px;">
    <div class="box">
        <div class="bxTp">
            <img src="/assets/image5.jpg" class="imgApp" alt="">
            <div class="appDet">
                <p class="Name"><b>Doggo</b></p>
                <p class="desApp">Male, 2.2 years</p>
                <p class="desApp">owner : Jhon Doe</p>

            </div>
        </div>
        <div class="timFun">
            <div>
                <p class="timeApp"><b>11:30</b></p>
                <p class="dateApp"><b>12/6/2020</b></p>
            </div>
            <img src="assets/mess.png" class="funcMCV" alt="">
            <img src="assets/call.png" class="funcMCV" alt="">
            <img src="assets/videoCall.png" class="funcMCV" alt="">
        </div>
        <hr>
        <div class="detFee">
            <button>Details</button>
            <button> Feedback</button>
        </div>
    </div>
  
    <div class="box">
        <div class="bxTp">
            <img src="/assets/image6.jpg" class="imgApp" alt="">
            <div class="appDet">
                <p class="Name"><b>Bessie</b></p>
                <p class="desApp">Male, 2.2 years</p>
                <p class="desApp">owner : Jhon Doe</p>

            </div>
        </div>
        <div class="timFun">
            <div>
                <p class="timeApp"><b>10:22</b></p>
                <p class="dateApp"><b>12/6/2020</b></p>
            </div>
            <img src="assets/mess.png" class="funcMCV" alt="">
            <img src="assets/call.png" class="funcMCV" alt="">
            <img src="assets/videoCall.png" class="funcMCV" alt="">
        </div>
        <hr>
        <div class="detFee">
            <button>Details</button>
            <button> Feedback</button>
        </div>
    </div>
  

    <div class="box">
        <div class="bxTp">
            <img src="/assets/image7.jpg" class="imgApp" alt="">
            <div class="appDet">
                <p class="Name"><b>Doggo</b></p>
                <p class="desApp">Male, 2.2 years</p>
                <p class="desApp">owner : Jhon Doe</p>

            </div>
        </div>
        <div class="timFun">
            <div>
                <p class="timeApp"><b>10:30</b></p>
                <p class="dateApp"><b>12/6/2020</b></p>
            </div>
            <img src="assets/mess.png" class="funcMCV" alt="">
            <img src="assets/call.png" class="funcMCV" alt="">
            <img src="assets/videoCall.png" class="funcMCV" alt="">
        </div>
        <hr>
        <div class="detFee">
            <button>Details</button>
            <button> Feedback</button>
        </div>
    </div>
  
    <div class="box">
        <div class="bxTp">
            <img src="assets/image8.jpg" class="imgApp" alt="">
            <div class="appDet">
                <p class="Name"><b>Doggo</b></p>
                <p class="desApp">Male, 2.2 years</p>
                <p class="desApp">owner : Jhon Doe</p>

            </div>
        </div>
        <div class="timFun">
            <div>
                <p class="timeApp"><b>10:30</b></p>
                <p class="dateApp"><b>12/6/2020</b></p>
            </div>
            <img src="assets/mess.png" class="funcMCV" alt="">
            <img src="assets/call.png" class="funcMCV" alt="">
            <img src="assets/videoCall.png" class="funcMCV" alt="">
        </div>
        <hr>
        <div class="detFee">
            <button>Details</button>
            <button> Feedback</button>
        </div>
    </div>
  

</div>