
    <div class="mbd">
        <div class="infTp">
            <div>
                <p class="hdTxOn"><b>Account Details</b></p>
                <p class="dscTp">Manage your team members and their account permission</p>
            </div>
            <button class="edtBtn" routerLink="/editprofile">Edit</button>
        </div>
        <div class="infBtm">

            <img src="" alt="">

            <div class="infBtmTbl">
                <table class="tblInfUsr">
                    <tr>
                        <th>Name</th>
                        <td>Mrs. Sally Mae</td>
                    </tr>
                    <tr>
                        <th>Mobile</th>
                        <td>+412121344</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>New York , USA 7810</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
